{% extends '@' ~ page_prefix ~ 'themes/base.twig' %}
{% block body %}
    <ul>
    {% for theBlock in a_content %}
        <li>
            {{ theBlock.c_content }}
        </li>
    {% endfor %}

    </ul>
            <div class="container">
        {% if a_content.body %}
            {% set ctype = a_content.body.c_type %}
            {% set content = a_content.body.c_content %}
            {% if ctype == 'html' %}
                {{ content | raw }}
            {% elseif ctype == 'xml' %}
                {{ content | raw }}
            {% else %}
                {{ content }}
            {% endif %}
        {% endif %}
               Content {{ a_content['body']['c_content'] }}
            </div>
{% endblock %}
{#
expected array [
    'lang',
    'charset',
    'title',
    'description',
    'base_url',
    'page_url',
    'public_dir',
    'page_prefix',
    'a_menus',
    'a_message',
    'body_text',
    'debug_text',
    'copyright_date',
    'site_url',
    'rights_holder',
    ]
blocks available to extend:
    title
    description
    meta
    vendor_stylesheets
    stylesheets
    icons
    vendor_js
    head_js
    header
    search
    message
    body
    footer
    debug
    bottom_vendor_js
    bottom_js
#}
