{% extends '@' ~ page_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container">
        {% if a_content.body %}
            {% set ctype = a_content.body.c_type %}
            {% set content = a_content.body.c_content %}
            {% if ctype == 'html' or ctype == 'xml' or ctype == 'raw' %}
                {{ content | raw }}
            {% elseif ctype == 'md' %}
                {{ content | md }}
            {% elseif ctype == 'mde' %}
                {{ content | mde }}
            {% else %}
                {{ content | nl2br }}
            {% endif %}
        {% endif %}
    </div>
    CTYPE: {{ ctype }}
    <br>
    Content: {{ content }}
{% endblock %}
{#
expected array [
    'lang',
    'charset',
    'title',
    'description',
    'base_url',
    'page_url',
    'public_dir',
    'page_prefix',
    'a_menus',
    'a_message',
    'body_text',
    'debug_text',
    'copyright_date',
    'site_url',
    'rights_holder',
    ]
blocks available to extend:
    title
    description
    meta
    vendor_stylesheets
    stylesheets
    icons
    vendor_js
    head_js
    header
    search
    message
    body
    footer
    debug
    bottom_vendor_js
    bottom_js
#}
