{% extends '@default/base.twig' %}
{% block title %}{{ parent() }}: Library Core Tests{% endblock %}
{% block body %}
    {% if a_message.message != '' %}
    <div class="row">
        <div class="span12">
            <p class="{{ a_message.message_class }}">
                <img src="{{ a_message.image_src }}"{% if a_message.alt_text != '' %} alt="{{ a_message.alt_text }}"{% endif %}{% if a_message.image_class != '' %} class="{{ a_message.image_class }}"{% endif %}{{ a_message.extras }} />
                {{ a_message.message }}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span12">
            <ul class="test-results">
                <li><a href="/access/">Access</a></li>
                <li><a href="/actions/">Actions</a></li>
                <li><a href="/arrays/">Arrays</a></li>
                <li><a href="/config/">Config</a></li>
                <li><a href="/datestimes/">DatesTimes</a></li>
                <li><a href="/dbfactory/">DbFactory</a></li>
                <li><a href="/dbmodel/">DbModel</a></li>
                <li><a href="/elog/">Elog</a></li>
                <li><a href="/files/">Files</a></li>
                <li><a href="/html/">Html</a></li>
                <li><a href="/session/">Session</a></li>
                <li><a href="/strings/">Strings</a></li>
                <li><a href="/tail/">Tail</a></li>
                <li><a href="/TwigFactory/">TwigFactory</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
